.mobile-menu{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0,0,0,0.3);
    transition: all 0.5s ease;
    transform: translateX(-100%);
}

.mobile-menu-container{
    background-color: #342864;
    padding: 30px;
}

.mobile-menu.active{
    opacity: 1;
    transform: translateX(0);
}
.mobile-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:15px
}
.mobile-menu ul li a{
    color: #fff;
}

/* media q */

 @media screen and (max-width:768px){
    .mobile-menu{
        display: block;
    }
    .mobiLogosec{
        display: block;
    }

} 