body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar{
    width: 75%;
  }
  .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
  }
  .navbar ul li {
    cursor: pointer;
    list-style: none;
    padding-right: 10px;
    color: #fff;
  }
  .block{
    display: block;
  }
  .hamburger {
    display: none; /* Hide by default */
    cursor: pointer;
  }
  .hide {
    visibility: hidden;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block; /* Show only on mobile screens */
    }
  }